@page
@model BlogApp.Web.Pages.EditModel
@{
}
<h2>Edit post @Model.WebPost.Id</h2>

<form method="post" asp-page-handler="Update" asp-route-id="@Model.WebPost.Id">
    <div class="form-group">
        <textarea class="form-control" name="WebPost.Contents" required>@Model.WebPost.Contents</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>